/* ESTILOS PARA LA PÁGINA EN GENERAL */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #343a40; /* Cambia el color de fondo del cuerpo de la página */
}

/* Estilo para el contenido principal (excluyendo el footer) */
main.container {
    position: relative;
    z-index: 1;
}

/* ESTILOS PARA NAVBAR - ENCABEZADO */
/* Estilo para el encabezado */
header {
    padding: 20px 0;
}

.navbar {
    background-color: #343a40;
    border-radius: 15px; /* Ajusta el valor según tus preferencias */
}
   
/* Estilo para el botón de menú */
.navbar-toggler-icon {
    background-color: #fff;
    border-radius: 50%; /* Hace que el botón sea completamente circular */
}

.navbar-brand {
    font-size: 24px;
}


/* Estilo para los enlaces del menú de navegación */
.navbar-nav .nav-link {
    color: #fff; /* Color de texto del menú de navegación */
}

/* ESTILOS PARA EL MAIN O EL CUERPO DE PÁGINA */
/* Estilos para carrusel - general*/
.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para el carrusel */
#proyectosCarousel {
    height: calc(100vh - altura del encabezado - altura del footer);
    object-fit: cover;
    position: relative;
}

/* Estilo para el texto del carrusel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    color: #fff; /* Color del texto en el carrusel */
    padding: 10px; /* Espacio alrededor del texto */
}


/* Estilo para el título en el carrusel */
.carousel-caption h3 {
    font-size: 24px; /* Tamaño de fuente del título */
}

/* Estilo para la descripción en el carrusel */
.carousel-caption p {
    font-size: 16px; /* Tamaño de fuente de la descripción */
}


/* ESTILOS PARA FOOTER*/

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40; /* Cambia el color de fondo del footer */
    color: #fff; /* Cambia el color de texto del footer */
    z-index: 1; /* Para que el footer este delante del carrusel*/
}

/* Estilo para el texto del footer */
.text-body-secondary {
    color: #fff !important; /* Forzar el color de texto a ser blanco */
    font-size: 16px; /* Tamaño de fuente, ajusta según sea necesario */
}


/* Estilo para los íconos del footer */
.text-body-secondary .bi {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff; /* Cambia el color de los íconos del footer */
}
